RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
ADMIN_SETUP_TOKEN=
RESEND_API_KEY=
ORDER_EMAIL_TO=contact@khushifoodproducts.in
ORDER_EMAIL_FROM=UMVIKA FOODS <contact@khushifoodproducts.in>
MSG91_AUTHKEY=
MSG91_SMS_TEMPLATE_ID=
MSG91_SMS_SENDER_ID=
ORDER_SMS_TO=8073455939
